/* App.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
}

a:link {
  color: rgb(156, 224, 156);
}

/* visited link */
a:visited {
  color: rgb(243, 163, 163);
}

a:hover {
  color: hotpink;
}

.App {
  text-align: center;
  padding: 20px;
}

.App-header {
  background-color: #07495c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 80px;
  animation: App-logo-spin infinite 20s linear;
  margin-bottom: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Header.css */

.header {
  background-color: #07495c;
  padding: 20px;
  text-align: center;
}

.header-content {
  max-width: 600px;
  margin: 0 auto;
}

.header-title {
  font-size: 3em;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #f0f0f0;
}

.header-subtitle {
  font-size: 1.5em;
  margin: 5px 0;
  font-family: 'Roboto', sans-serif;
  color: #f0f0f0;
}

.header-contact {
  text-align: left;
}

.header-contact p {
  margin: 0;
  margin-bottom: 5px;
  font-size: 1em;
  color: #f0f0f0;
}

/* Education.css */

.education {
  margin-top: 20px;
}

.section-title {
  font-size: 2em;
  margin-bottom: 10px;
  color: #07495c;
}

.education-item {
  margin-bottom: 15px;
  border: 2px solid #07495c;
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
}

.education-title {
  font-size: 1.5em;
  margin: 0;
  color: #333;
}

.education-institution {
  font-size: 1em;
  margin: 0;
  margin-bottom: 5px;
  color: #555;
}

.education-date {
  font-size: 1em;
  margin: 0;
  color: #555;
}

/* Skills.css */

.skills {
  margin-top: 20px;
}

.skills-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.skill-item {
  display: inline-block;
  background-color: #07495c;
  color: #fff;
  font-size: 1em;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 25px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

