/* App.css */

body {
  @apply font-sans bg-gray-100 m-0;
}

a:link {
  @apply text-teal-500 hover:text-teal-600; /* Updated link color and hover effect */
}
  
a:hover {
  @apply text-pink-500; /* Keeping hover effect */
}

.App {
  @apply text-center p-20;
}

.App-header {
  @apply bg-gradient-to-b from-blue-800 to-blue-600 min-h-screen flex flex-col items-center justify-center text-white; /* Added gradient background */
  @apply text-2xl; /* Increased header text size */
}

/* Header.css */

.header {
  @apply bg-blue-800 p-5 text-center;
}

.header-content {
  @apply max-w-screen-md mx-auto;
}

.header-title {
  @apply text-4xl mb-2 font-serif text-white; /* Increased title text size */
}

.header-subtitle {
  @apply text-2xl my-2 font-serif text-white; /* Increased subtitle text size */
}

.header-contact p {
  @apply mb-2 text-white;
}

/* Education.css */

.education {
  @apply mt-5;
}

.section-title {
  @apply text-3xl mb-5 text-blue-800; /* Increased section title text size */
}

.education-item {
  @apply mb-8 border-2 border-blue-800 rounded-lg p-4 bg-white shadow-md; /* Added box shadow */
}

.education-title {
  @apply text-2xl mb-1 text-gray-800; /* Increased education title text size and adjusted margin */
}

.education-institution {
  @apply text-lg mb-2 text-gray-700; /* Increased institution text size */
}

.education-date {
  @apply text-base text-gray-700;
}

/* Skills.css */

.skills {
  @apply mt-5;
}

.skills-list {
  @apply list-none p-0 m-0;
}

.skill-item {
  @apply inline-block bg-blue-800 text-white text-base py-2 px-4 m-1 rounded-full font-serif uppercase;
}

#about {
  @apply max-w-screen-lg mx-auto p-5;
}

#about h1 {
  @apply text-3xl mb-3 text-blue-800; /* Increased about section title text size */
}

#about h2 {
  @apply text-2xl mb-3 text-gray-800; /* Increased about section subtitle text size and adjusted color */
}

#about p {
  @apply text-lg leading-7 mb-5; /* Adjusted about section paragraph text size and line height */
  text-align: justify;
}

@media (max-width: 768px) {
  #about {
    @apply p-3; /* Increased padding for smaller screens */
  }
}

#projects {
  @apply max-w-screen-lg mx-auto p-5;
}

#projects h1 {
  @apply text-3xl mb-3 text-blue-800; /* Increased about section title text size */
}

#projects h2 {
  @apply text-2xl mb-3 text-gray-800; /* Increased about section subtitle text size and adjusted color */
}

#projects p {
  @apply text-lg leading-7 mb-5; /* Adjusted about section paragraph text size and line height */
  text-align: justify;
}

@media (max-width: 768px) {
  #projects {
    @apply p-3; /* Increased padding for smaller screens */
  }
}

.collapse-button {
  display: block;
  width: 100%;
}

.collapse-content.collapsed {
  display: none;
}

.collapsed-content.expanded {
  display: block;
}
