/* App.css */

body {
  @apply font-sans bg-gray-100 m-0;
}

a:link {
  @apply text-teal-500 hover:text-teal-600; /* Updated link color and hover effect */
}
  
a:hover {
  @apply text-pink-500; /* Keeping hover effect */
}

.App {
  @apply text-center p-20;
}

.App-header {
  @apply bg-gradient-to-b from-blue-800 to-blue-600 min-h-screen flex flex-col items-center justify-center text-white; /* Added gradient background */
  @apply text-2xl; /* Increased header text size */
}

/* Header.css */

.header {
  background-color: #1a365d; /* blue-800 equivalent */
  padding: 1.25rem; /* 20px */
  margin-top: 5%;
  margin-left: 5%;
  text-align: center;
}

.header-content {
  max-width: 48rem; /* 768px */
  margin: 0 auto; /* Center horizontally */
}

.header-title {
  font-size: 2.25rem; /* 36px */
  margin-bottom: 0.5rem; /* 8px */
  font-family: serif;
  color: #fff;
}

.header-subtitle {
  font-size: 1.5rem; /* 24px */
  margin-bottom: 1rem; /* 16px */
  font-family: serif;
  color: #fff;
}

.header-contact p {
  margin-bottom: 0.5rem; /* 8px */
  color: #fff;
}


/* Education.css */

.education {
  margin-top: 5%;
  margin-left: 5%; /* Apply margin-left of 20% */
}

.section-title {
  font-size: 3rem;
  margin-bottom: 1.25rem; /* 20px */
  color: #1a365d; /* blue-800 equivalent */
}

.education-item {
  margin-bottom: 2rem; /* 32px */
  border: 2px solid #1a365d; /* blue-800 equivalent */
  border-radius: 0.5rem; /* 8px */
  padding: 1rem; /* 16px */
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Added box shadow */
}

.education-title {
  font-size: 1.5rem; /* 24px */
  margin-bottom: 0.5rem; /* 8px */
  color: #4a5568; /* gray-800 equivalent */
}

.education-institution {
  font-size: 1.25rem; /* 20px */
  margin-bottom: 0.75rem; /* 12px */
  color: #4a5568; /* gray-700 equivalent */
}

.education-date {
  font-size: 1rem; /* 16px */
  color: #4a5568; /* gray-700 equivalent */
}


/* Skills.css */

.skills {
  @apply mt-5;
}

.skills-list {
  @apply list-none p-0 m-0;
}

.skill-item {
  @apply inline-block bg-blue-800 text-white text-base py-2 px-4 m-1 rounded-full font-serif uppercase;
}

#about {
  margin-top: 5%;
  margin-left: 5%;
  padding: 1.25rem; /* 20px */
}

#about h1 {
  font-size: 1.875rem; /* 30px */
  margin-bottom: 0.75rem; /* 12px */
  color: #1a365d; /* blue-800 equivalent */
}

#about h2 {
  font-size: 1.5rem; /* 24px */
  margin-bottom: 0.75rem; /* 12px */
  color: #4a5568; /* gray-800 equivalent */
}

#about p {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75; /* 28px */
  margin-bottom: 1.25rem; /* 20px */
  text-align: justify;
}


@media (max-width: 768px) {
  #about {
    @apply p-3; /* Increased padding for smaller screens */
  }
}

#projects {
  @apply max-w-screen-lg mx-auto p-5;
}

#projects h1 {
  @apply text-3xl mb-3 text-blue-800; /* Increased about section title text size */
}

#projects h2 {
  @apply text-2xl mb-3 text-gray-800; /* Increased about section subtitle text size and adjusted color */
}

#projects p {
  @apply text-lg leading-7 mb-5; /* Adjusted about section paragraph text size and line height */
  text-align: justify;
}

@media (max-width: 768px) {
  #projects {
    @apply p-3; /* Increased padding for smaller screens */
  }
}

.collapse-button {
  justify-content: left;
  margin: auto;
  margin-bottom: 20px;
  display: block;
  width: 90%;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #2511db;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #5a5858;
}

.collapse-button:hover {background-color: #150d83}

.collapse-content.collapsed {
  display: none;
}

.navbar {
  background-color: #ffffff; /* Set your desired background color */
  padding: 10px 20px; /* Adjust padding as needed */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
  position: fixed;
  top: 5%;
  left: 0; /* Position navbar at the left side of the screen */
  height: 90%; /* Make navbar occupy full height of the viewport */
  display: flex;
  flex-direction: column; /* Make navbar items appear vertically */
  justify-content: flex-start; /* Align navbar items to the top */
  z-index: 1000; /* Set z-index to ensure navbar is above other content */
}

.navbar-list {
  list-style-type: none;
  padding: 0;
  margin-top: 50%; /* Add margin from the top */
}

.navbar-list li {
  margin: 100px 0; /* Adjust spacing between navbar items */
}

.navbar-list li a {
  text-decoration: none;
  color: #333333; /* Set your desired text color */
  font-weight: bold; /* Adjust font weight as needed */
  font-size: 16px; /* Adjust font size as needed */
}

.navbar-list li a:hover {
  color: #007bff; /* Set your desired hover color */
}

.content-container {
  margin-left: 250px; /* Adjust the width as per your navbar width */
  padding: 20px; /* Adjust padding as needed */
}
